body {
    background-image: url("https://img.freepik.com/free-vector/colorful-geometric-seamless-pattern-background-design_53876-118676.jpg?w=826&t=st=1681941522~exp=1681942122~hmac=4903e9e12d71262849a44f444d8bfcc3123905f874467e976ead6bfb7009e6a7");
    background-repeat: no-repeat;
    background-size: cover;
}

.wd-footer {
    top: auto;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightpink;
    height: 300px;
    overflow-x: hidden;
}

.wd-border {
    border-radius: 25px;
}

.wd-name:first-child {
    margin-right: 5%;
    margin-left: 4%;
}

.wd-name:nth-child(2) {
    margin-right: 3%;
}

.centered-modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.wd-paw-icon {
    color: lightpink;
}

.introduction {
    font-size: 120%;
    font-weight: 200;
    line-height: 1.5;
}
body {
    overflow-x: hidden;
}