.cldBody {
    background:#f7f7f7;
    width: 420px;
    margin: 10px auto;
}

.cldBody .top{
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: relative;
}

#topDate {
    font-size: 24px;
}

#week td {
    font-size: 15px;
}
td {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
}

#tbody td:hover {
    background: #ededed;
    cursor: pointer;
}

.curDate {
    color: red;
    font-weight: bold;
}

#left,#right {
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#left:hover, #right:hover {
    background-color: rgba(30, 30, 30, 0.2);
}